<div class="container-fluid mx-sm-5">
    <div class="row desktop">
        <div class="about col-lg-6 col-sm-12">
            <div class="main">
            <h1 class="title">Make remote work</h1>
            <p class="description"> Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
            <button class="learn">Learn more</button>
            <div class="companies d-flex">
                <img class="company-image img-fluid" src="/assets/images/client-audiophile.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-databiz.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-maker.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-meet.svg" />
            </div>
        </div>
        </div>
        <div class="illustration-section col-lg-6 col-sm-12">
            <img class="illustration-desktop img-responsive" src="/assets/images/image-hero-desktop.png" />
        </div>
    </div>

    <div class="row mobile">
       
        <div class="illustration-section col-lg-6 col-sm-12">
            <img class="illustration-mobile img-responsive" src="/assets/images/image-hero-mobile.png" />
        </div>
        <div class="about col-lg-6 col-sm-12">
            <div class="main">
            <h1 class="title">Make remote work</h1>
            <p class="description"> Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
            <button class="learn">Learn more</button>
            <div class="companies d-flex">
                <img class="company-image img-fluid" src="/assets/images/client-audiophile.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-databiz.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-maker.svg" />
                <img class="company-image img-fluid" src="/assets/images/client-meet.svg" />
            </div>
        </div>
        </div>
    </div>
</div>
